@model App2.Models.RespostaInscricao
@{
    ViewData["Title"] = "Obrigado!";
}

<h1>Obrigado!</h1>
<p>Obrigado pelo seu registro @Model.Nome</p>

@if(Model.Inscrever == true) {
    <p>Esperamos por ti!</p>
} else {
    <p>Que pena, contamos contigo para a proxima!</p>
}

<div>
    <h3> Inscritos </h3>
    <a asp-action="Inscritos"> Ver Lista de Inscritos </a>
</div>