@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem-vindo</h1>
    <p>Queremos melhorar os nossos serviços, para isso convidámo-lo a preencher o formulário.</p>
    <a asp-action="Inquerito">Inquérito de Satisfação</a>
</div>
