
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>
    <div class="container">
        <h1> Hello </h1>
        <h2> World </h2>
        <h3> This </h3>
        <h4> is </h4>
        <h5> my </h5>
        <h6> app </h6>

        <p class="card bg-light p-3"> O Bootstrap está a funcionar! </p>
        <img src="~"/>
    </div>
</body>
</html>
