@{
    ViewData["Title"] = "Inicio";
}

<h1>Formação em ASP.NET Core MVP</h1>
<br />
<p>A formação irá decorrer até ao final do mês de Novembro</p>
<p>As inscrições terminam a 15 de outubro</p>
<p>Para aceder ao formulário das inscrições clique <a asp-action="Formulario">AQUI</a></p>